<!DOCTYPE html>
<html lang ="en-IE">
<title></title>
<head>
    <meta charset ="utf-8">
	<link rel="stylesheet" href="../stylesheets/style.css">
	<link rel="shortcut icon" href="../images/favicon.ico">
    <title>Phone Usage Tracker</title>
</head>
<body>

<header>
<!-- Navigation menu -->
<nav>
          <a href="/">Home</a>
          <a href="/phones/create">Create a report</a>
          <a href="/phones/editOrDelete">Edit or Delete reports</a>
          <a href="/phones/dailyAverage">Average usage</a>
		  <a href="/phones/help">Help</a>
		  <a href="/phones/contactUs" class="contact">About Us</a>
</nav>
</header>

<main>
	<h1>Help Page</h1>
	<h2>Please read through the relevant<br> documentation for report creation, editing, and deletion</h2>
	<div id="helpColumn"><li><strong>Q. What is the Phone Tracker?</strong><br>A. This phone tracker was created to help students see just how much they use their phones on a daily basis<br></li></p>
                          <p><li><strong>Q. Is my data Safe?</strong><br> Your phone data is stored on a secure server and is not disclosed to any other users or personnel, in line with european GDPR guidelines</li></p>
                           <p><li><strong>Q. How do I create a report?</strong><br>Select the "Create a report" button on the nav-bar, from there fill out the form.
                           To edit or delete a report please select the "Edit or delete a report" button, a table will be displayed<br>
                           and you can select a certain report to edit or delete</li></p> </div>
</main>
</body>
