<!DOCTYPE html>
<html lang ="en-IE">
<title></title>
<head>
    <meta charset ="utf-8">
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="shortcut icon" href="images/favicon.ico">
    <title>Phone Usage Tracker</title>
</head>
<body>

<header>
<!-- Navigation menu -->
<nav>
          <a href="/">Home</a>
          <a href="/phones/create">Create a report</a>
          <a href="/phones/editOrDelete">Edit or Delete reports</a>
          <a href="/phones/dailyAverage">Average usage</a>
		  <a href="/phones/help">Help</a>
		  <a href="/phones/contactUs" class="contact">About Us</a>
</nav>
</header>

<main>
	<h1>Welcome to the MTU phone usage tracker</h1>
	<h2>This site has been created to help students track their phone usage</h2>
	<h3>To create a report, select create a report on the navbar</h3>
	<h3>To edit or delete a report, select edit or delete reports on the navbar</h3>
	<h3>For more information please contact us or use the help page</h3>


  </table>

  </body>
</main>
</body>
