<% include partials/head %>
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="container">
            Shopping cart
        </div>
    </div>
</div>
<% include partials/foot %>